<a href="https://colab.research.google.com/github/sivabhanu/individual/blob/main/iteration_214530.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1     #increment

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
import numpy as np
import pandas as pd
#dataframe is set of rows and columns or cells
my_data =([[0,3],[10,7],[20,9],[30,14],[40,15]])

my_column_names = ("temperature" , "activity")

my_dataframe = pd.DataFrame(data=my_data,columns=my_column_names)

print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [ ]:
import numpy as np
import pandas as pd

my_class_data=([1,"a",90],[2,"b",70],[3,"c",80],[4,"d",96],[5,"e",56])

my_column = ("reg_no","name","marks")


my_data_frame=pd.DataFrame(data=my_class_data,columns=my_column)

print(my_data_frame)

   reg_no name  marks
0       1    a     90
1       2    b     70
2       3    c     80
3       4    d     96
4       5    e     56